 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:black ;

}

.wrapper{
    width: 65vmin;
    height: 70vmin;
    background-color: #07a0e1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    
}

.game-details{
    color: white;
    font-weight: 500;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
}

.play-board{
    width: 100%;
    height: 100%;
    background: #100648b0;
    display: grid;
    grid-template: repeat(40,1fr)/repeat(40,1fr);
    
}

.play-board .food{
    background-color: red;
}

.play-board .head{
    background-color: greenyellow;
}